@import './resets/index.css';
@import './animation/index.css';

@import './components/avatar.css';
@import './components/button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: cornflowerblue;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-clamp-1 {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
